# See 'man gitignore'.

# Rope
.ropeproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation build directory.
_build

# Setuptools stuff.
*.egg-info

# Cache for py.test.
.cache

# Vim swap.
*.swp

# Installer logs.
pip-log.txt
pip-delete-this-directory.txt

# Distribution directory from setup.py sdist.
/dist
!*/dist # Needed for older versions of git (don't ignore dist deeper than root level).

